---
import '../../styles/base.css';
import AppLayout from "../../Layouts/AppLayout.astro";
import Star from "../../components/icons/star.astro";
import Apple from '../../components/icons/apple.astro'
import Android from '../../components/icons/android.astro'
import Windows from '../../components/icons/windows.astro'

import { getCollection } from "astro:content";
import VideoPlayer from '../../components/VideoPlayer.astro';
import DownloadModal from '../../components/DownloadModal.astro';

export async function getStaticPaths(){
    const browserEntries = await getCollection("browsers"); 
    return browserEntries.map((entry) => ({
        params: {
            slug: entry.slug,
            title: entry.data.title,
        },
        props: {entry}
    }))
}

const {entry} = Astro.props;
const {Content} = await entry.render();

const backgroundHero = `background-image : linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 98%), url('${entry.data.banner}')`;
---
<AppLayout>
 
  <section  style={backgroundHero} class="bg-cover bg-center 	bg-fixed" transition:name={entry.data.title}>
    <div class="mx-auto pt-20 md:px-5  max-w-screen-xl w-full flex p-5" >
        <div class=" dark:bg-gray-800  dark:border-gray-700 rounded-lg   mb-8 " >
            <!-- <a href="#" class="bg-blue-100 text-blue-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2 font-bo"> 
                <svg class="w-4 h-4 me-1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" clip-rule="evenodd" />
                  </svg> 
                {entry.data.category}
            </a> -->
            
          <div class="flex justify-between items-center ">
            <div>
              <h1 class="text-white dark:text-white text-3xl md:text-5xl font-extrabold mb-2">{entry.data.title}</h1>
              <div class="flex gap-2 items-center">
                <p class="text-gray-300"> </p>
                   { entry.data.apk &&<Android color="#22c55e" />}
                   { entry.data.windows &&<Windows color="#0ea5e9" /> }
                   { entry.data.mac && <Apple color="#9ca3af" /> }
             </div>
             <p class="text-white py-5 font-bo md:leading-6 pr-0 md:pr-10 lg:pr-10 ">{entry.data.summary}</p>
            </div>
            <img src={entry.data.thumbnail} alt="" class="rounded-xl w-32 h-32 hidden md:block">
          </div>
            <br>
            <div class="py-15 text-white grid  grid-cols-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4  text-sm  backdrop-blur-lg  bg-slate-900/90 rounded-2xl font-bo" >
              <div class="text-center p-3 border-slate-700  border-r-0 sm:border-r-0 md:border-r-2 lg:border-r-2  ">
                <p>བཟོ་སྐྲུན་པ།:</p>
                 <p class="font-bold pt-2">{entry.data.author}</p>
             </div>
             <div class="text-center p-3 border-slate-700 border-r-0 sm:border-r-0 md:border-r-2 lg:border-r-2 ">
                 <p>གཞུང་ཕྱོགས་དྲ་ཚིགས།: </p>
                  <p class="font-bold pt-2">{entry.data.website}</p>
              </div>
              <div class="text-center p-3 border-slate-700 border-r-0 sm:border-r-0 md:border-r-2 lg:border-r-2 ">
                 <p>རྒྱལ་ཁབ།: </p>
                  <p class="font-bold pt-2">{entry.data.country}</p>
              </div>
              <div class="flex text-center p-3 flex-col   ">
                <p class="pb-2">ཐོབ་ཆ།:</p>
                <div class="flex justify-center ">
                 <Star/>
                 <p>{entry.data.rating}</p>
                </div>
             </div>
             </div>
           
            <buttom data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="cursor-pointer w-auto sm:w-auto md:w-80 flex justify-center items-center p-3  text-2xl text-center text-gray-100 rounded-lg bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 my-10 font-bo" >
              ཕབ་ལེན་གནང་རོགས།
          </button>   
        </div>

</section>
    <section class="max-w-screen-xl mx-auto p-10">
        
      <div id="accordion-flush" data-accordion="collapse" data-active-classes="dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
        <h2 id="accordion-flush-heading-1">
          <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-700 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1" >
            <span class="text-2xl text-gray-300 font-bo">འགྲེལ་བཤད། </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
          <div class="py-5 border-b border-gray-700 dark:border-gray-700 font-bo leading-relaxed  text-gray-300">
                <Content/>
          </div>
        </div>

    {
      entry.data.video && 
      <h2 id="accordion-flush-heading-2">
          <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-700 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
            <span class="text-2xl text-gray-300">བརྙན་པར་སློབ་ཁྲིད།</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
          <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
            <VideoPlayer video={entry.data.video}></VideoPlayer>
          </div>
        </div>
    }
  
    </section>

  <DownloadModal>
    { entry.data.apk &&
      <div class="flex flex-col p-2  w-full justify-center bg-green-500 hover:bg-green-400 items-center">
      
      <a href={entry.data.apk} data-modal-hide="popup-modal" type="button" class="text-slate-700 h-10 text-sm inline-flex items-center px-5 py-2.5 text-center">
          <Android color="white" /> <span class="px-2 text-lg font-bold text-white">Android</span>
      </a>
      <p class="text-xs pb-3 text-white">Version: 203</p>
  </div>
  }
  { entry.data.windows &&
      <div class="flex flex-col p-2  w-full justify-center bg-blue-600 hover:bg-blue-700 items-center">
      
      <a href={entry.data.windows} data-modal-hide="popup-modal" type="button" class="text-slate-700  h-10 text-sm inline-flex items-center px-5 py-2.5 text-center">
          <Windows color="white"/>  <span class="px-2 text-lg font-bold text-white">Windows</span>
        </a>
        <p class="text-xs pb-3 text-white">Version: 203</p>
  </div>
  }
  {
      entry.data.mac &&
      <div class="flex flex-col p-2  w-full justify-center bg-gray-500 hover:bg-gray-600 items-center">
      
      <a href={entry.data.mac} data-modal-hide="popup-modal" type="button" class="text-slate-700 h-10 text-sm inline-flex items-center px-5 py-2.5 text-center">
          <Apple color="white"/> <span class="px-2 text-lg font-bold text-white">Mac</span>
        </a>
        <p class="text-xs pb-3 text-white">Version: 203</p>
  </div>
  }
  </DownloadModal>
  
</AppLayout>