---
import '../styles/base.css';
import Hero from '../components/Hero.astro'
import Tools from '../components/icons/Tools.astro'
import CardMd from '../components/CardMd.astro'
import TopPicks from '../components/TopPicks.astro'
import TopPicksMac from '../components/TipPicksMac.astro'

import { getCollection } from 'astro:content';
import BaseLayout from '../Layouts/BaseLayout.astro';
import TopPicksAndroid from '../components/TopPicksAndroid.astro';
import Sheild from '../components/icons/Sheild.astro';
import Globe from '../components/icons/Globe.astro';
import MenuBottomHome from '../components/Menu-Bottom-Home.astro';
const apps = await getCollection("apps");
const browsers = await getCollection("browsers");
const tools = await getCollection("tools");

---
<BaseLayout>

    <Hero/>	

    <div class="max-w-screen-xl mx-2 md:mx-auto bg-gray-900/70 rounded-3xl mt-96   shadow-xl backdrop-blur-md pb-10 relative z-10">  
        <div class="overflow-x-clip ">
        <div class="max-w-screen-xl mx-auto  ">
            <div class="mb-4  ">
                <ul class="flex flex-wrap  text-sm  text-center justify-center gap-0  " id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                    <li class="me-2 " role="presentation">
                        <button class="  text-xl p-2 md:p-4 border-b-2  rounded-t-lg flex items-center gap-3 focus:text-green-400 text-orange-400 hover:text-orange-300 border-orange-400 focus:border-green-400 hover:border-orange-300" id="apps-tab" data-tabs-target="#apps" type="button" role="tab" aria-controls="apps" aria-selected="false">
                            <Sheild/>
                            <span class="text-sm md:text-lg ">Security</span>
                        </button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="text-xl p-2 md:p-4 border-b-2 rounded-t-lg flex items-center gap-3 focus:text-green-400 text-orange-400 hover:text-orange-300 border-orange-400 focus:border-green-400 hover:border-orange-300" id="browser-tab" data-tabs-target="#browser" type="button" role="tab" aria-controls="browser" aria-selected="false">
                            <Globe/>
                            <span class="text-sm md:text-lg "> Browsers</span>
                        </button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="text-xl p-2 md:p-4 border-b-2 rounded-t-lg flex items-center gap-3 focus:text-green-400 text-orange-400 hover:text-orange-300 border-orange-400 focus:border-green-400 hover:border-orange-300" id="tools-tab" data-tabs-target="#tools" type="button" role="tab" aria-controls="tools" aria-selected="false">
                            <Tools/>
                            <span class="text-sm md:text-lg">Tools</span>
                        </button>
                    </li>
                </ul>
            </div>
                <div id="default-tab-content" >
                    <div class=" py-4 md:px-4 rounded-xl  dark:bg-gray-800 grid  grid-cols-3 md:grid-cols-6 lg:grid-cols-7 gap-3 " id="apps" role="tabpanel" aria-labelledby="apps-tab">
                    {
                        apps.map((app)=>(
                        <CardMd title={app.data.title} category={app.data.category} rating={app.data.rating} thumbnail={app.data.thumbnail} url={`/apps/${app.slug}`}/>
                        ))
                    }
                    </div>
                </div>
                <div class="py-4 md:px-4 rounded-xl  dark:bg-gray-800 grid  grid-cols-3 md:grid-cols-6 lg:grid-cols-7 gap-3" id="browser" role="tabpanel" aria-labelledby="dashboard-tab">
                    {
                        browsers.map((browser)=>(
                        <CardMd title={browser.data.title} category={browser.data.category} rating={browser.data.rating} thumbnail={browser.data.thumbnail} url={`/browsers/${browser.slug}`}/>
                        ))
                    }
                </div>
                <div class=" py-4 md:px-4 rounded-xl  dark:bg-gray-800 grid  grid-cols-3 md:grid-cols-6 lg:grid-cols-7 gap-3" id="tools" role="tabpanel" aria-labelledby="tools-tab">
                    {
                        tools.map((tools)=>(
                        <CardMd title={tools.data.title} category={tools.data.category} rating={tools.data.rating} thumbnail={tools.data.thumbnail} url={`/tools/${tools.slug}`}/>
                        ))
                    }
                </div>
        </div>
        </div>

    <TopPicks/>
    <TopPicksAndroid/>
    <TopPicksMac/>

    </div>

<MenuBottomHome/>

</BaseLayout>




