---
import Star from "./icons/star.astro"
const {title, category, rating, thumbnail, url} = Astro.props;
---

    <a href={url}>
        <div class="flex flex-col sm:flex-row md:flex-col  rounded-3xl my-6 w-full sm:w-5 md:w-36  text-slate-400">
            <div class="m-2.5 overflow-hidden rounded-3xl  flex justify-center items-center">
              <img class="w-full h-full object-cover" src={thumbnail} alt="profile-picture" />
            </div>
            <div class="pb-2">
                <p class=" text-sm md:text-lg font-semibold px-3 text-slate-800 ">{title}</p>
                <div class="flex justify-between px-3">
                    <p class="text-sm ">{category}</p>
                    <p class="flex  text-sm ">
                        <Star/><span class="px-1">{rating}</span>
                    </p>
                </div>    
            </div>
           
          </div>
    </a>

