---
import Star from "./icons/star.astro"
const {title, category, rating, thumbnail, url} = Astro.props;
---

    <a href={url}>
        <div class="group flex flex-col sm:flex-row md:flex-col bg-gray-700  rounded-2xl  w-full sm:w-4 md:w-36  text-slate-100 " transition:name={title}>
            <div class="m-2 overflow-hidden rounded-2xl  flex justify-center items-center">
              <img class="w-full h-full object-cover" src={thumbnail} alt="profile-picture" />
            </div>
            <div class="pb-2">
                <p class="text-xs md:text-lg font-semibold px-3 text-gray-100 group-hover:text-gray-300 ">{title}</p>
                <div class="flex justify-between px-3 text-gray-400">
                    <p class="text-xs ">{category}</p>
                    <p class="flex text-xs pb-2 ">
                        <Star/><span class="px-1">{rating}</span>
                    </p>
                </div>    
            </div>
          </div>
    </a>

