---
import '../styles/base.css';
import Navbar from '../components/Navbar.astro'

import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
import MenuBottomSingle from '../components/Menu-Bottom-Single.astro';


const {title,description,image,url,type} = Astro.props;
---

<html lang="en">
<head>
    <BaseHead {title} {description} {image} {url} {url}/>

</head>
<body class="w-full flex flex-col justify-center bg-gray-900 relative">
    <img src="/LOKLAD.svg" alt="logo" class="fixed bottom-0 -z-0 blur-3xl opacity-15 animate-pulse ">
<div class="">
    <!-- <Navbar/> -->
	<div class="overflow-x-clip  ">
        <slot/>
    </div> 
    
</div>
<Footer/>
<MenuBottomSingle/>
    
 </body>
    </html>